# Imports

In [1]:
import os
import numpy as np
import pandas as pd

In [2]:
from data_gadgets.cleaning import Cleaner

# Reading Data

In [3]:
path = os.path.join('..', '..', 'data', 'raw', 'data_task3.csv')
data = pd.read_csv(path)

In [4]:
data.head()

   sepal_length  sepal_width  petal_length  petal_width      species
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

# Cleaning Names

In [5]:
cleaner = Cleaner()

In [6]:
data = cleaner.headers(data)

In [7]:
cols = cleaner.separate_data(data, 'species')

In [8]:
data = cleaner.categories(data)

In [9]:
data.head()

   sepal_length  sepal_width  petal_length  petal_width      species
0           5.1          3.5           1.4          0.2  Iris Setosa
1           4.9          3.0           1.4          0.2  Iris Setosa
2           4.7          3.2           1.3          0.2  Iris Setosa
3           4.6          3.1           1.5          0.2  Iris Setosa
4           5.0          3.6           1.4          0.2  Iris Setosa

# Dropping Values

In [10]:
data = data.drop(['petal_length', 'petal_width'], axis=1)

In [11]:
data.head()

   sepal_length  sepal_width      species
0           5.1          3.5  Iris Setosa
1           4.9          3.0  Iris Setosa
2           4.7          3.2  Iris Setosa
3           4.6          3.1  Iris Setosa
4           5.0          3.6  Iris Setosa

# Encoding Categories

In [12]:
labels = {value: label for label, value in enumerate(data.species.unique())}
data['species'] = data.species.map(labels)

In [13]:
data.head()

   sepal_length  sepal_width  species
0           5.1          3.5        0
1           4.9          3.0        0
2           4.7          3.2        0
3           4.6          3.1        0
4           5.0          3.6        0

# Saving Data

In [14]:
# data.to_csv('../../data/interim/data_task3.csv', index=False)